[Unit]
Description=Ankaios agent
After=network.target ank-server.service
Wants=network.target

[Service]
Environment="RUST_LOG=info"
ExecStartPre=/usr/local/sbin/ankaios-clean-stale-linaro-containers
ExecStart=/usr/local/bin/ank-agent

[Install]
WantedBy=default.target
