[Unit]
Description=QEMU Alpine Podman VM qemu_1
Documentation=file:/home/linaro/ankaios_research/qemu_1/alpine-podman-qemu.sh
RequiresMountsFor=/home/linaro/ankaios_research/qemu_1
After=local-fs.target network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/linaro/ankaios_research/qemu_1
ExecStart=/home/linaro/ankaios_research/qemu_1/alpine-podman-qemu.sh run
ExecStop=-/usr/bin/ssh -i /home/linaro/ankaios_research/qemu_1/alpine-podman_ed25519 -o BatchMode=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=5 -p 2201 root@127.0.0.1 /sbin/poweroff
Restart=on-failure
RestartSec=5
KillMode=control-group
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
